.myprofile{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: darkblue;
}

.feature-icon-small {
    width: 3rem;
    height: 3rem;
}